<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetSchool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>680D40EC1B9079E700CFF29E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>680D41081B9079E700CFF29E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DF338D1BAAC78400203272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68DF33A81BAAC78400203272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
