<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>习题</key>
	<dict>
		<key>title</key>
		<string>我的习题</string>
		<key>image</key>
		<string>question_bank1.png</string>
	</dict>
	<key>MainList</key>
	<array>
		<dict>
			<key>title</key>
			<string>我的课程</string>
			<key>image</key>
			<string>mycourse1.png</string>
			<key>class</key>
			<string>MyClassesTabBarController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>免费体验</string>
			<key>image</key>
			<string>experience_center1.png</string>
			<key>class</key>
			<string>FreeList0ViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>你问我答</string>
			<key>image</key>
			<string>answer_sheet1.png</string>
			<key>class</key>
			<string>QAViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>播放记录</string>
			<key>image</key>
			<string>palyrecord1.png</string>
			<key>class</key>
			<string>PlayRecordViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>image</key>
			<string>suggestion_press_state.png</string>
			<key>class</key>
			<string>FeedbackViewController</string>
		</dict>
	</array>
	<key>MainTab</key>
	<array>
		<dict>
			<key>title</key>
			<string>在线课程</string>
			<key>image</key>
			<string>bottom_cen1.png</string>
			<key>highlightedImage</key>
			<string>bottom_cen2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>离线课程</string>
			<key>image</key>
			<string>bottom_line1.png</string>
			<key>highlightedImage</key>
			<string>bottom_line2.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>播放记录</string>
			<key>image</key>
			<string>bottom_bg_btn_jilu1.png</string>
			<key>highlightedImage</key>
			<string>bottom_bg_btn_jilu2.png</string>
		</dict>
	</array>
</dict>
</plist>
